#header nav {
    width: 100%;
    position: fixed; top: 0; left: 0; right: 0;
    background-color: white;
}
#main-menu {
    display: table;
    margin: 10px;
    padding-left: 10px;
}
#main-menu li {
    display: table-cell;
    width: 170px;
    vertical-align: middle;
    text-align: center;
}
#main-menu li a {
    font-size: 20px;
}
#main-menu img {
    width: 170px; height: 100px;
}
.on {
    color: rgb(115, 190, 113);
    font-weight: bold;
}

#main {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 15px;
}
.table-name {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}
.main-section {
    border: 1px;
    border-radius: 7px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;

}
#main table {
    width: 100%;
}
.warning td {
    color: red;
}
@media all and (max-width:1300px) {
    #main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
}

#content-container {
    display: grid;
    grid-template-columns: 216px 1fr;
    max-width: 1080px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#aside-container {
    display: flex;
    flex-direction: column;
    margin-left: 15pt;
    margin-right: 30px;
}
#side-menu-name {
    font-weight: bold;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#side-menu {
    border-spacing: 0;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px;
    border-radius: 7px;
    background-color: white;
    margin-top: 10px;
}
#side-menu tr {
    height: 36px;
}
#side-menu td {
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid rgb(183, 183, 183);
    border-bottom: 1px solid rgb(183, 183, 183);
}
#side-menu tr td a {
    padding-left: 5px;
    font-size: 16px;
}
.monday, .tueday, .wedday, .thuday, .exday {
    text-align: center;
}
.monday {
    background-color: rgb(212, 196, 143);
}
.tueday {
    background-color: rgb(174, 200, 132);
}
.wedday {
    background-color: rgb(124, 161, 172);
}
.thuday {
    background-color: rgb(168, 154, 188);
}
.exday {
    background-color: rgb(224, 189, 210);
}

#date-container {
    display: flex;
    flex-direction: column;
}
.date {
    font-weight: bold;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#date-container img {
    width: 200px; height: 200px; 
}

#date-sub-container {
    display: flex;
    flex-direction: column;
}
.date-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sub-img {
    margin: 20px;
}

#sub-info, #sub-points, .sub-details {
    background-color: white;
    border: 1px;
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-bottom: 20px;
}
#sub-info {
    display: flex;
    flex-direction: row;
}
#sub-info img {
    width: 140px; height: 140px;
}
#info-box {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#sub-time, #sub-contact {
    color: rgb(122, 122, 122);
}
#sub-points, .sub-details {
    display: flex;
    flex-direction: column;
}
#point-box1, #point-box2, #point-box3, 
#point-box4, #point-box5, #point-box6, 
#point-box7, #point-box8, #point-box9, 
#point-box10, #point-box11, #point-box12 {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    margin-bottom: 15px;
}
#attendance, #assignment, #exam {
    border: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#attendance {
    background-color: rgb(174, 212, 154);
    border-radius: 10px 0 0 10px;
}
#assignment {
    background-color: rgb(252, 252, 171);
}
#exam {
    background-color: rgb(255, 201, 201);
    border-radius: 0 10px 10px 0 ;
}
#point-box1 #attendance {
    width: 20%;
}
#point-box1 #assignment {
    width: 20%;
}
#point-box1 #exam {
    width: 60%;
}
#point-box2 #attendance {
    width: 30%;
}
#point-box2 #assignment {
    width: 40%;
}
#point-box2 #exam {
    width: 30%;
}
.sub-box-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 13px;
}
.pointp {
    padding-bottom: 10px;
}
.point {
    font-size: 14px;
}
.sub-details-box {
    border: 1px solid black;
    padding: 12px;
    margin-right: 30px;
    border-radius: 7px;
    font-size: 14px;
}

#footer {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 10px;
    margin-top: 10px;
    border-top: 1px solid black;
}

body {
    margin: 0;
    padding-top: 120px;
    background-color: rgb(240, 240, 240);
}
a {
    color: black;
    text-decoration: none;
}
img {
    vertical-align: top;
}
li {
    list-style: none;
}
section {
    background-color: white;
}
th, td {
    font-size: 17px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
}
