#header nav {
    width: 100%;
    position: fixed; top: 0; left: 0; right: 0;
    background-color: white;
    border-bottom: 1px solid black;
}
#main-menu {
    display: table;
    margin: 10px;
    padding-left: 10px;
}
#main-menu li {
    display: table-cell;
    width: 170px;
    vertical-align: middle;
    text-align: center;
}
#main-menu li a {
    font-size: 20px;
}
#main-menu img {
    width: 170px; height: 100px;
}
#on {
    color: rgb(115, 190, 113);
    font-weight: bold;
}

#main {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 15px;
}
.table-name {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}
.main-section {
    border: 1px solid black;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;

}
#main table {
    width: 100%;
}
@media all and (max-width:1300px) {
    #main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
}

#content-container {
    display: grid;
    grid-template-columns: 216px 1fr;
    width: 1080px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#date-container {
    display: flex;
    flex-direction: column;
}
.date {
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#date-container img {
    width: 180px; height: 180px; 
}
#mon-container {
    display: flex;
    flex-direction: column;
}
#tue-container {
    display: flex;
    flex-direction: column;
}
#wed-container {
    display: flex;
    flex-direction: column;
}
#tue-container {
    display: flex;
    flex-direction: column;
}
#ex-container {
    display: flex;
    flex-direction: column;
}
.date-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sub-img {
    margin: 20px;
}

#footer {
    border-top: 1px solid black;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 10px;
}

body {
    margin: 0;
    padding-top: 120px;
}
a {
    color: black;
    text-decoration: none;
}
img {
    vertical-align: top;
}
li {
    list-style: none;
}
th, td {
    font-size: 17px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
}
