#main {
    display: grid;
    grid-template-columns: 170px 1fr
}
#main ul {
    margin: 0;
    background: rgb(49, 133, 73);
    padding-inline-start: 0px;
}
#main ul li {
    display: inline-block; width: 150px; text-align: center;
    padding-top: 40.4px; padding-left: 20px;
}
#main ul li a {
    color: white; font-size: 18px;
}



#win {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#wind {
    border-top: 10px;
    border-right: 1px solid black;
}
#wind2 {
    margin-top: 22px;
}
#bot {
    border-top: 1px solid black;
}
#on {
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: 4px solid rgb(255, 255, 255);
    background-color: rgb(144, 144, 144);
}
.box {
    border: 5px solid rgb(49, 133, 73); padding: 10px; margin: auto;
    display: block; width: 50%;
    left: 50%;
}
@media all and (max-width : 500px) {
    .box {
    width: 90%;
    }
}
.inbox {
    width: 100%;
}
.boxname {
    margin-top: 0;
}
.sub {
    font-size: 20px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(230, 233, 236);
    display: block;
    margin: 20px;
    padding-top
    : 20px; padding-bottom: 20px; padding-left: 7px;
}





body {
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}
li {
    list-style: none;
}
th, td {
    font-size: 17px;
    text-align: left;
}